
<div class="row">
    <div class="col-md-4 col-sm-6 card-hover card-dash" ng-repeat="card in cards">
        <div ng-click="goToEvent(card)" class="card bg-dark text-white">
            <img class="card-img" src="{{card.imageUrl}}" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">{{card.name}}</h5>
                <p class="card-text">{{card.description}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 card-hover card-dash">
        <div ng-click="addEvent();" class="card bg-dark text-white">
            <img class="card-img add" 
                src="content/images/plus.svg"
                alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">Add Event</h5>
            </div>
        </div>
    </div>    
</div>
    