<div class="container-fluid">
    <div class="btn-group-wrapper" role="group" aria-label="Basic example">
        <div class="btn-mask">
            <button class="btn btn-secondary btn-active" ng-class="{'btn-active': tabIndex == 1}" ng-click="changeTab(1, false)"><i class="fa fa-smile-o" aria-hidden="true"></i> <span>Emotions</span></button>
        </div>
        <div class="btn-mask">
            <button class="btn btn-secondary" ng-class="{'btn-active': tabIndex == 2}" ng-click="changeTab(2, false)"><i class="fa fa-venus-mars" aria-hidden="true"></i> <span>Gender</span></button>
        </div>
        <div class="btn-mask">
            <button class="btn btn-secondary" ng-class="{'btn-active': tabIndex == 3}" ng-click="changeTab(3, true)"><i class="fa fa-wrench" aria-hidden="true"></i> <span>Configurations</span></button>
        </div>
        <div class="btn-mask">
            <button class="btn btn-secondary" ng-class="{'btn-active': tabIndex == 4}" ng-click="tabIndex = 4"><i class="fa fa-picture-o" aria-hidden="true"></i> <span>Images</span></button>
        </div>        
    </div>
    <div class="tab-wrapper" ng-show="tabIndex == 1">
        <chart-dir ng-if="emotionsChartData" dataset="emotionsChartData.series" labels="emotionsChartData.labels" text-title="Emotion chart" id="emotions-chart"></chart-dir>
    </div>
    <div class="tab-wrapper" ng-show="tabIndex == 2">
        <chart-dir text-title="Gender chart" id="gender-chart" type="bar"></chart-dir>
    </div>
    <div class="tab-wrapper" ng-show="tabIndex == 3">
        <form id="form-submit" ng-submit="submit($event);">
            <input-custom id="name" label="Name" model="event.name" required="true"></input-custom>
            <input-custom id="code" label="Code" model="event.code" required="true"></input-custom>
            <input-custom id="description" label="Description" model="event.description" required="true"></input-custom>
            <input-custom id="start-date" type="date" label="Start Date" model="event.startDate" required="true"></input-custom>
            <input-custom id="end-date" type="date" label="End Date" model="event.endDate" required="true"></input-custom>
            <input-custom id="location" label="Location" model="event.location" required="true"></input-custom>            
        </form>
    </div>
    <div class="tab-wrapper" ng-show="tabIndex == 4">
        <p>the fucking images here </p>
        <div>
            <h4>Main image</h4>
            <img src="event.imageUrl" alt="">
        </div>
        <div>
            <h4>Other images</h4>
            <div class="img-card" ng-repeat="img in event.photoUrls">
                <img src="img" alt="">
            </div>
        </div>
    </div>
</div>