$yellow: #FF7F00;
$soft-yellow: #f3bc87;
$green: #28a745;
$soft-green: #78b786;
$red: #CD603D;
$soft-red: #e6b09f;
$blue: #517FBC;
$soft-blue: #99aad0;
$black: #777;
$soft-black: #b3b3b3;

$panel-grey: #EEF0F1;