@import '_variables.scss';

login-menu .navbar-brand *:first-child {
    font-family: "Segoe UI", sans-serif;
}

body {
    background-color: #F3F5F9;
    font-family: "Segoe UI", sans-serif;
}

.nav {
    font-family: "Segoe UI", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", sans-serif;
}

label {
    font-family: "Segoe UI", sans-serif;
}

.k-grid-header th.k-header, .k-treemap-
, .k-grid-header .k-header > .k-link, .k-window-titlebar.k-header {
    font-family: "Segoe UI", sans-serif;
}

.k-button.k-grid-add {
    font-family: "Segoe UI", sans-serif;
}

.app-name {
    font-family: "Segoe UI", sans-serif;
}

.k-tabstrip .k-tabstrip-items {
    font-family: "Segoe UI", sans-serif;
}

.navbar-header > .navbar-brand {
    font-family: "Segoe UI", sans-serif;
}

.k-loading-mask {
    z-index: 100000;
}

#page-loading.k-loading-mask:first-child {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

nav.bg-dark {
    background-color: #333;
}